@import "compass/css3";
@import "compass";
@import "compass/reset";
@import "compass/css3/pie";

@import 'modular-scale';

@import 'modules/mixins.scss';
@import 'modules/custom.scss';
@import 'modules/jquery.confirm.scss';
@import 'modules/grid.scss';
@import 'modules/menus.scss';
@import 'modules/user.scss';
@import 'modules/player.scss';
@import 'modules/shop.scss';
@import 'modules/history.scss';
@import 'modules/dev.scss';
@import 'modules/parallax.scss';


// responsive.scss @imported at bottom!!!

// Import ICOMOON ICONS
@import '../fonts/dk4Icons/style.css';
@import '../fonts/generic/style.css';

* {
   @include box-sizing(border-box);
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


.hide {
    display: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.no-margin {
    margin: 0;
}
body { 
    font-family: Helvetica, Arial, serif; 
    -webkit-font-smoothing: antialiased;
    background: darken($mainBackgroundColor, 5%);
    //background: url('../images/patterns/dark_wall/dark_wall_@2X.png');
    //color: $white;
    @include bodytext-topo();
}
p {
    @include bodytext-topo();
}

.logo-img{
    background-image: url($header-logo);
    height: image-height($header-logo)/2;
    width: image-width($header-logo)/2;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;

}

.page_header{
    padding: $pad;
    .siteTitle {
        font-size: 12px;
        text-align: center;
        img{
            float: left;
            margin-right: $pad/2;
        }
        a {
            display: table-cell;
            padding-top: 8px;
        }
        .head {
            font-size: 18px;
            font-weight: bold;
            color: #105751;
        }
        @include inline-block;
        float: left;
    }
}

.user-top-bar {
    position: relative;
    float: right;
    > li {
        float: left;
        position: relative;
        background-color: #f0efeb;
        border: 1px solid #e5e4e1;
        @include border-radius(4px);
        &:hover{
            background-color: #222;
            color: white;
                // padding-top: $pad/2+4;
        }
        > a {
            display: block;
            font-size: ms(2);
            margin: 0 ;
            text-align: center;
            padding: $pad/2 $pad/2;
            outline: none;
        }
    }
}

// .user-top-bar {
//     position: relative;
//     float: right;
//     > li {
//         float: left;
//         position: relative;
//         &:hover{
//             background-color: #222;
//             color: white;
//                 // padding-top: $pad/2+4;
//         }
//         > a {
//             display: block;
//             font-size: ms(2);
//             margin: 0 ;
//             text-align: center;
//             //color: rgba(white, 0.6);
//             padding: $pad/2 $pad/2;
//             outline: none;
//             // @include transition-property(padding-top, background-color, color);
//             // @include transition-duration(0.2s);
//         }

//         .submenu {
//             position: absolute;
//             right: 0;
//             z-index: 20;
//             border: 1px solid #ddd;
//             a {
//                 display: block;
//                 line-height: 40px;
//                 padding: 0 20px;
//                 white-space: nowrap;
//             }
//             li {
//                 display: block;
//                 padding: 0;
//                 background-color: #eee;
//                 color: #111;
//                 border-bottom: 1px solid #ddd;
//                 &:hover {
//                     background-color: #fff;
//                 }
//             }
//         }
//     }

//     ul {
//         display: none;
//     }
//     li:hover > ul {
//         display: block;
//     }

// }

.promotion{
    margin-top: 10px;
    padding: 20px;
    border: 1px solid #ddd;
}
.page_footer {
    margin-top: $pad;
    div{
        text-align: center;
        font-size: ms(2);
        color: darken(white, 50%);
    }
}

.icon {
    vertical-align: middle;
    font-size: 16px;
    margin-right: 10px;
}

a {
    color: inherit;
    text-decoration: inherit;
    cursor: inherit;
    &:focus, &:active {
        outline: none;
    }
    cursor: pointer;
}

// a.button {
//     background-color: darken($mainBackgroundColor, 5%);
//     padding: $pad/4 $pad/2;
//     font-size: ms(2);
// //  display: inline-block;
//     @include inline-block;
//     @include border-radius(4px, 4px);
//     @include menu-typo(0.6);
//         &:hover {
//             @include menu-typo(1);
//         }
// }


.page-wrapper{
    width: 800px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    //@include box-shadow(black 0 0 10px);
}

a.button {
    @include menu-background();
    padding: $pad/4 $pad;
    font-size: ms(2);
//  display: inline-block;
    @include inline-block;
    border: 1px solid darken($mainBackgroundColor, 7%);
    @include box-shadow(rgba(black, 0.5) 0px 0px 3px);
    @include border-radius(4px, 4px);
    @include menu-typo(0.6);
        &:hover {
            @include menu-typo(1);
        }
}

.text-button {
    background-color: darken($mainBackgroundColor, 5%);
    padding: $pad/2;
    margin: 0 $pad/4;
    float: right;
    display: inline;
    @include menu-typo(0.6);
    &:hover {
        @include menu-typo(1);
    }   
}

#alert {
    background-color: $alertBgnd;
    @include background-image(linear-gradient($alertBgnd, darken($alertBgnd, 20%)));    
    padding: $pad/2 $pad;
    font-size: ms(2);
    @include text-shadow(rgba(black, 0.5) 1px 1px 2px);
    a{
        text-decoration: underline;
    }
    .close-icon{
        text-decoration: none;
    }
}

@import 'modules/responsive.scss';
@import 'modules/shame.scss';

