<div class="grid user">
    <div class="module">
        <div class="form_container clearfix">
            <div class="header">
                {{$parent.localeStrings.user_data_msg.header}}
            </div>
            <p>
                {{$parent.localeStrings.user_data_msg.body}}
            </p>
                
            <div ng-controller="PwCtrl" >
                <form name="changepwForm" class="clearfix">
                <div class="label">{{$parent.localeStrings.password}}</div> 
                <input name="pw1" type="password" class="field" placeholder="{{$parent.localeStrings.password}}" ng-model="pw1" ng-minlength="6" required>
                <span class="error" ng-show="!changepwForm.pw1.$valid || comparePW()"><span aria-hidden="true" class="icon-generic-warning"></span></span>
                <span class="error" ng-show="changepwForm.pw1.$valid"><span aria-hidden="true" class="icon-generic-checkmark"></span></span>
                
                <div class="label">{{$parent.localeStrings.repeatpassword}}</div>
                <input name="pw2" type="password" class="field" placeholder="{{$parent.localeStrings.repeatpassword}}" ng-model="pw2" ng-minlength="6" required>
                <span class="error" ng-show="!changepwForm.pw2.$valid || comparePW()"><span aria-hidden="true" class="icon-generic-warning"></span></span>
                <span class="error" ng-show="changepwForm.pw2.$valid"><span aria-hidden="true" class="icon-generic-checkmark"></span></span>
                    <button class="button" ng-disabled="comparePW()" ng-click="changePw()" ng-model="button" value="Submit">{{$parent.localeStrings.save_new_password}}</button>
                </form>
            </div>
            
                        
            <form name="accountForm">
                
                <div class="label">{{$parent.localeStrings.firstname}}</div>                    
                <input name="firstname" type="text" class="field" ng-model="user.Firstname" required>
                <div class="label">{{$parent.localeStrings.lastname}}</div>                 
                <input type="text" class="field" ng-model="user.Lastname" required>
                <div class="label">{{$parent.localeStrings.gender}}</div>                   
                <!--input type="text" class="field" ng-model="user.Gender"-->
                    
                <div class="radio_container">
                    <input name="gender" type="radio" ng-model="user.Gender" value="MALE" required>  {{$parent.localeStrings.male}} 
                    <input name="gender" type="radio" ng-model="user.Gender" value="FEMALE" required> {{$parent.localeStrings.female}}
                </div>
                
                <div class="label">{{$parent.localeStrings.birthday}}</div>                 
                <input type="text" class="field" ng-model="user.Birthdate" required>
                <span class="error" ng-show="isBirthdateValid()"><span aria-hidden="true" class="icon-generic-warning"></span></span>
                <div class="label">{{$parent.localeStrings.address}}</div>                  
                <input type="text" class="field" ng-model="user.Address">
                <div class="label">{{$parent.localeStrings.address_ext}}</div>                  
                <input type="text" class="field" ng-model="user.Address_Ext">
                <div class="label">{{$parent.localeStrings.zipcode}}</div>                  
                <input type="text" class="field" ng-model="user.Zipcode">
                <div class="label">{{$parent.localeStrings.city}}</div>                 
                <input type="text" class="field" ng-model="user.City">
                <div class="label">{{$parent.localeStrings.phonenumber}}</div>                  
                <input type="text" class="field" ng-model="user.PhoneNumber">

                <!--div class="label">DEV!!! STATE:</div>                  
                <input type="text" class="field" ng-model="user.State"-->
            
                <button class="button" ng-disabled="!accountForm.$valid || isSame() || isBirthdateValid()" ng-click="save()" ng-model="button" value="Submit">{{$parent.localeStrings.save_user_data}}</button>
                </div>
            </form>
        </div>      
        
    </div>
</div>
    
        