<div class="grid user">
    <div class="module">
        <div class="form_container clearfix">
            <div class="header">
                {{$parent.localeStrings.forgot_password_msg.header}}
            </div>
            <p>
                {{$parent.localeStrings.forgot_password_msg.body}}
            </p>
            <form name="forgotpwForm" ng-submit="sendEmail()">
                <div>
                    <input class="field" placeholder="{{$parent.localeStrings.email}}" type="email" name="email" ng-model="emailM" autofocus="autofocus" required>
                    <span class="error" ng-show="forgotpwForm.email.$error.required"></span>
                    <span class="error" ng-show="forgotpwForm.email.$error.email"><span aria-hidden="true" class="icon-generic-warning"></span></span>
                    <span class="error" ng-show="forgotpwForm.email.$valid"><span aria-hidden="true" class="icon-generic-checkmark"></span></span>
                </div>
                <div class="button_container clearfix">
                    <button class="button" type="submit" ng-model="button" ng-disabled="!forgotpwForm.$valid" value="Submit">{{$parent.localeStrings.forgot_password_send}}</button>
                </div>              
            </form>
        </div>
    </div>
</div>
    
