<div class="grid live">


    <div ng-hide="auth.email">
        <!-- <img src="http://placehold.it/800x450&text=Velkommen+til+dk4+webtv+(800x450)" alt=""> -->
        <img src="images/live-still.png" width="800" height="450" alt="">
    </div>
    <div ng-show="auth.email">
        <div class="noaccess" ng-show="noaccess" style="display: none">
            <img src="images/live-still.png" alt="" height="450">
            <div class="container">
                <div class="message clearfix">
                    <h1 class="header">Live TV kræver abonnement</h1>
                    <p>Start dit abonnement nu og få adgang med det samme</p>
                    
                    <div class="button_container clearfix">
                        <a href="#/Shop" class="button">Klik her</a>
                    </div>
                </div>
            </div>
        </div>
        <div ng-hide="noaccess">
            <div class="jw_outer">
                <video id="jw-live" height="450" width="800" ></video>
            </div>
            <div class="progress" ng-show="currentChannelGuide[0].StartTime">
                <div class="fill" ng-show="currentChannelGuide[0].Title"></div>
            </div>
            <div class="live_info module" ng-show="currentChannelGuide[0].Title">
               
                <div class="left-col">
                    <h1 class="title"><span> Lige nu: </span></h1>
                </div>
                <div class="right-col">
                    <h1 class="title">{{currentChannelGuide[0].Title}} <span aria-hidden="true" class="icon-generic-info ico"></span> </h1>
                </div>
                <div class="description"> 
                    <div class="left-col">
                         <div class="time" ng-show="currentChannelGuide[0].StartTime">{{currentChannelGuide[0].StartTime | date:'HH:mm'}} - {{currentChannelGuide[0].EndTime | date:'HH:mm'}}</div>
                    </div>
                    <div class="right-col">{{currentChannelGuide[0].Description1}}</div>
                </div>
            </div>

        </div>
    </div>


</div>

<script>
    $('.live_info .title').click(function(){
        $('.live_info .description').slideToggle();
    });
</script>




<div class="grid no-margin">

    <!--div ng-controller="VideoListCtrl" >
        <ul id="top-header" class="video-list top-rotator">
            <li ng-repeat="videoInfo in topCategory.video" class="line{{$index+1}}">
                <a ng-href="#/{{$parent.curCat.id}}/Player/{{videoInfo.ID}}" class="thumb">
                    <div class="list-container">
                        <div class="icon-container">
                            <img ng-src="{{videoInfo.Thumbnail}}/wtv">
                            <div class="overlay"></div>
                        </div>
                        <div class="right">
                            <div class="season_info" ng-show="videoInfo.Season">{{$parent.localeStrings.season}} {{videoInfo.Season}}:{{videoInfo.Episode}}</div>
                            <div class="title">{{videoInfo.Title}}</div>
                            <p class="description">{{videoInfo.Synopsis}}</p>
                        </div>
                    </div>
                </a>
            </li>
            <span aria-hidden="true" class="icon-generic-chevron-left slidesjs-previous slidesjs-navigation"></span>
            <span aria-hidden="true" class="icon-generic-chevron-right slidesjs-next slidesjs-navigation"></span>
        </ul>
    </div-->


<!--     <div>
        <span aria-hidden="true" class="icon icon-{{item.Description}}"></span> 
        <span class="cat_sel_button"><span class="catTitle">{{item.Description}}</span> <span aria-hidden="true" class="icon icon-generic-menu"></span> </span>
         <span>
            <select ng-model="topMenu[item.ID]" id="c{{item.ID}}" name="{{item.Description}}"  style="opacity: 0" ng-options="subItem as subItem.Description for subItem in item.subcategory" ng-model-change ng-change="updateMenu(this)">
                <option value="" >{{item.Description}}:</option>
            </select>
         </span>

    </div> -->

    <!--ul>
                    <li ng-repeat="item in categories.category[0].subcategory[0]" class="menu_line">
                        <div>
                            <span aria-hidden="true" class="icon icon-{{item.Description}}"></span> 
                            <span class="cat_sel_button"><span class="catTitle">{{item.Description}}</span> <span aria-hidden="true" class="icon icon-generic-menu"></span> </span>

                             <span>
                                <select ng-model="topMenu[item.ID]" id="c{{item.ID}}" name="{{item.Description}}"  style="opacity: 0" ng-options="subItem as subItem.Description for subItem in item.subcategory" ng-model-change ng-change="updateMenu(this)">
                                    <option value="" >{{item.Description}}:</option>
                                </select>
                             </span>

                        </div>
                    </li>
    </ul-->

<!--     <div class="module">
        dk4 arkiv:
    </div> -->
<!--     <div class="col-1-3 no-overflow">
        <div class="">
            <nav class="vert-nav">
                <ul class="letternav">
                    <li ng-repeat="(key,val) in firstCharCategories" onClick="$('.subCat').hide(); $('#id_{{key}}').show()">
                        {{key}}
                    </li>
                </ul>
                <ul id="id_{{keyCat}}" class="subCat" style="display: none" ng-repeat="(keyCat,subCat) in firstCharCategories">

                    <li ng-repeat="item in subCat" class="menu_line">
                        <div ng-model="topMenu[item.ID]" id="b{{item.ID}}" ng-click="updateMenu(this)">{{item.Description}}</div>
                    </li>
                </ul> -->
                <!-- <ul> -->
                    <!-- <li ng-repeat="item in categories.category[0].subcategory[0][0].subcategory | orderBy:'Description'" class="menu_line">
                        <div ng-model="topMenu[item.ID]" id="b{{item.ID}}" ng-click="updateMenu(this)">{{item.Description}} <span class="count">{{item.Videos}}</span> </div>
                    </li> -->
                <!-- </ul> -->                
<!--             </nav>
        </div>
    </div> -->

    <nav class="top-nav">
        <!-- {{$parent.curCat}} -->
        <nav class="">
                <!-- <span aria-hidden="true" class="icon icon-{{item.Description}}"></span>  -->

            <span class="cat_description">
                {{$parent.localeStrings.chooseCategory}} 
            </span>

            <div class="drop-down">
                <span class="cat_sel_button">
                    <span class="catTitle">{{selectItem.Description}}</span> <span aria-hidden="true" class="icon icon-generic-menu"></span>
                </span>
                <span>
                    <select name="select" ng-model="selectItem" id="" ng-model-change ng-change="updateMenu(this)"  ng-options="selectItem as selectItem.Description for selectItem in cats">
                        <!-- <option value="" >Vælg Programmer:</option> -->
                    </select>
                </span>
            </div>
        </nav>
    </nav>
    
    <div ng-controller="VideoListCtrl" >
        <!-- <div class="sorting"> -->
            <!--span class="breadcrumb" ng-show="$parent.curCat.parentName">{{$parent.curCat.parentName}}: {{$parent.curCat.name}}</span-->
            <!-- <span class="breadcrumb" ng-show="$parent.curCat.parentName"><span aria-hidden="true" class="icon icon-{{$parent.curCat.parentName}}"></span> {{$parent.curCat.name}}</span> -->
            <!--a class="text-button" href="" class="text-button" ng-click="sortBy = 'Season'; reverse=false">Season</a>
            <a class="text-button" href="" class="text-button" ng-click="sortBy = 'Title'; reverse=false">Title</a-->
            <!-- <a class="text-button" href="" class="text-button" ng-click="sortBy = ''; reverse=false">None</a> -->
        <!-- </div> -->
        <ul class="video-list">
            <!--li ng-repeat="videoInfo in videos.video | orderBy:sortBy" -->
            <li ng-repeat="videoInfo in videos.video | orderBy:'Episode'" ng-class-odd="'odd'" ng-class-even="'even'">
                <a ng-href="#/{{$parent.curCat.id}}/Player/{{videoInfo.ID}}" class="thumb">
                <!-- <a href="#" ng-click="goPlayer($parent.curCat.id, videoInfo.ID)" class="thumb"> -->
                    <!--pre>{{ videoInfo | json }}</pre-->
                    <div class="list-container">
                            <div class="title">{{videoInfo.Title}}</div>
                            <img style="vertical-align: bottom;" ng-src="{{videoInfo.Thumbnail}}/wtv">
                            <p class="synopsis" ng-bind-html="videoInfo.Synopsis"></p>
                    </div>
                </a>
            </li>
        </ul>
    </div>

</div>