<div class="grid live">


    <div ng-hide="auth.email">
        <img src="http://placehold.it/800x450&text=Velkommen+til+dk4+webtv+(800x450)" alt="">        
    </div>
    <div ng-show="auth.email">
        <div class="noaccess" ng-show="noaccess" style="display: none">
            <img src=" {{video.metadata.Thumbnail}}/wtv" alt="" height="450">
            <div class="container">
                <div class="message clearfix">
                    <h1 class="header">Live TV kræver abonnement</h1>
                    <p>Start dit abonnement nu og få adgang med det samme</p>
                    
                    <div class="button_container clearfix">
                        <a href="#/Shop" class="button">Klik her</a>
                    </div>
                </div>
            </div>
        </div>
        <div ng-hide="noaccess">
            <video id="jw_live" height="450" width="800" ></video>
            <div class="progress">
                <div class="fill" ng-show="currentPgm.Title"></div>
            </div>
            <div class="live_info module" ng-show="currentPgm.Title">
               
                <div class="left-col">
                    <h1 class="title"><span> Lige nu: </span></h1>
                </div>
                <div class="right-col">
                    <h1 class="title">{{currentPgm.Title}} <span aria-hidden="true" class="icon-generic-info ico"></span> </h1>
                </div>
                <div class="description"> 
                    <div class="left-col">
                         <div class="time">{{currentPgm.StartTid | date:'HH:mm'}} - {{currentPgm.SlutTid | date:'HH:mm'}}</div>
                    </div>
                    <div class="right-col">
                        {{currentPgm.Omtale1}}
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>

<script>
    $('.live_info .title').click(function(){
        $('.live_info .description').slideToggle();
    });
</script>


<div class="grid">
    <nav class="vert-nav">
        <div>
            <!-- <span aria-hidden="true" class="icon icon-{{item.Description}}"></span>  -->
            Vælg programmer: 
            <span class="cat_sel_button"><span class="catTitle">{{item.Description}}</span> <span aria-hidden="true" class="icon icon-generic-menu"></span> </span>
            <span>
                <select name="select" ng-model="item" id="" ng-model-change ng-change="updateMenu(this)"  ng-options="item as item.Description for item in categories.category[0].subcategory[0][0].subcategory">
                    <option value="" >Vælg Programmer:</option>
                </select>
            </span>
        </div>
    </nav>
</div>

<div class="grid">

    <!--div ng-controller="VideoListCtrl" >
        <ul id="top-header" class="video-list top-rotator">
            <li ng-repeat="videoInfo in topCategory.video" class="line{{$index+1}}">
                <a ng-href="#/{{$parent.curCat.id}}/Player/{{videoInfo.ID}}" class="thumb">
                    <div class="list-container">
                        <div class="icon-container">
                            <img ng-src="{{videoInfo.Thumbnail}}/wtv">
                            <div class="overlay"></div>
                        </div>
                        <div class="right">
                            <div class="season_info" ng-show="videoInfo.Season">{{$parent.localeStrings.season}} {{videoInfo.Season}}:{{videoInfo.Episode}}</div>
                            <div class="title">{{videoInfo.Title}}</div>
                            <p class="description">{{videoInfo.Synopsis}}</p>
                        </div>
                    </div>
                </a>
            </li>
            <span aria-hidden="true" class="icon-generic-chevron-left slidesjs-previous slidesjs-navigation"></span>
            <span aria-hidden="true" class="icon-generic-chevron-right slidesjs-next slidesjs-navigation"></span>
        </ul>
    </div-->


<!--     <div>
        <span aria-hidden="true" class="icon icon-{{item.Description}}"></span> 
        <span class="cat_sel_button"><span class="catTitle">{{item.Description}}</span> <span aria-hidden="true" class="icon icon-generic-menu"></span> </span>
         <span>
            <select ng-model="topMenu[item.ID]" id="c{{item.ID}}" name="{{item.Description}}"  style="opacity: 0" ng-options="subItem as subItem.Description for subItem in item.subcategory" ng-model-change ng-change="updateMenu(this)">
                <option value="" >{{item.Description}}:</option>
            </select>
         </span>

    </div> -->

    <!--ul>
                    <li ng-repeat="item in categories.category[0].subcategory[0]" class="menu_line">
                        <div>
                            <span aria-hidden="true" class="icon icon-{{item.Description}}"></span> 
                            <span class="cat_sel_button"><span class="catTitle">{{item.Description}}</span> <span aria-hidden="true" class="icon icon-generic-menu"></span> </span>

                             <span>
                                <select ng-model="topMenu[item.ID]" id="c{{item.ID}}" name="{{item.Description}}"  style="opacity: 0" ng-options="subItem as subItem.Description for subItem in item.subcategory" ng-model-change ng-change="updateMenu(this)">
                                    <option value="" >{{item.Description}}:</option>
                                </select>
                             </span>

                        </div>
                    </li>
    </ul-->

<!--     <div class="module">
        dk4 arkiv:
    </div> -->
    <div class="col-1-3 no-overflow">
        <div class="">
            <nav class="vert-nav">
                <ul class="letternav">
                    <li ng-repeat="(key,val) in firstCharCategories" onClick="$('.subCat').hide(); $('#id_{{key}}').show()">
                        {{key}} <!-- {{val}} -->
                    </li>
                </ul>
                <ul id="id_{{keyCat}}" class="subCat" style="display: none" ng-repeat="(keyCat,subCat) in firstCharCategories">

                    <li ng-repeat="item in subCat" class="menu_line">
                        <div ng-model="topMenu[item.ID]" id="b{{item.ID}}" ng-click="updateMenu(this)">{{item.Description}} <!--span class="count">{{item.Videos}}</span--> </div>
                    </li>
                </ul>
                <!-- <ul> -->
                    <!-- <li ng-repeat="item in categories.category[0].subcategory[0][0].subcategory | orderBy:'Description'" class="menu_line">
                        <div ng-model="topMenu[item.ID]" id="b{{item.ID}}" ng-click="updateMenu(this)">{{item.Description}} <span class="count">{{item.Videos}}</span> </div>
                    </li> -->
                <!-- </ul> -->                
            </nav>
        </div>
    </div>

    <div class="col-2-3">
        <div class="">
            <div ng-controller="VideoListCtrl" >
                <div class="sorting">
                    <!--span class="breadcrumb" ng-show="$parent.curCat.parentName">{{$parent.curCat.parentName}}: {{$parent.curCat.name}}</span-->
                    <span class="breadcrumb" ng-show="$parent.curCat.parentName"><span aria-hidden="true" class="icon icon-{{$parent.curCat.parentName}}"></span> {{$parent.curCat.name}}</span>
                    <!--a class="text-button" href="" class="text-button" ng-click="sortBy = 'Season'; reverse=false">Season</a>
                    <a class="text-button" href="" class="text-button" ng-click="sortBy = 'Title'; reverse=false">Title</a-->
                    <!-- <a class="text-button" href="" class="text-button" ng-click="sortBy = ''; reverse=false">None</a> -->
                </div>
                <ul class="video-list">
                    <!--li ng-repeat="videoInfo in videos.video | orderBy:sortBy" -->
                    <li ng-repeat="videoInfo in videos.video | orderBy:'Episode'">
                        <a ng-href="#/{{$parent.curCat.id}}/Player/{{videoInfo.ID}}" class="thumb">
                        <!-- <a href="#" ng-click="goPlayer($parent.curCat.id, videoInfo.ID)" class="thumb"> -->
                            <!--pre>{{ videoInfo | json }}</pre-->
                            <div class="list-container">
                                <div class="icon-container">
                                    <img ng-src="{{videoInfo.Thumbnail}}">
                                    <div class="overlay"></div>
                                </div>
                                <div class="right">
                                    <div class="season_info" ng-show="videoInfo.Season">{{$parent.localeStrings.season}} {{videoInfo.Season}}:{{videoInfo.Episode}}</div>
                                    <div class="title">{{videoInfo.Title}}</div>
                                    <p class="description">{{videoInfo.Synopsis}}</p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>