<div class="grid user shop_container">
    <div class="module" ng-show="historyready">

            <div class="form_container clearfix" ng-hide="orderHistory.length" class="ng-cloak">
                <h1 class="header">{{localeStrings.history_menu}}</h1>
                <p>
                    Der er endnu ikke foretaget nogle transaktioner
                </p>
            </div>
    
            <div class="listorders" ng-show="orderHistory.length">
                <h1 class="header">{{localeStrings.history_menu}}</h1>
                <div class="top">
                    <div class="line">
                        <span class="date">Dato</span>
                        <span class="name">Navn</span>
                        <span class="card">Kort</span>
                        <span class="expire">Udløber</span>
                        <span class="amount">Beløb</span>
                    </div>
                </div>
                <div ng-repeat="transaction in orderHistory" class="clearfix">
                    <div class="line" ng-show="transaction.MessageType=='capture'">
                        <span class="date">{{transaction.TransactionTimestamp | date:'dd-MM-yyyy'}}</span>
                        <span class="name">{{transaction.Basket.Name}}</span>
                        <span class="card">{{transaction.CardType | titleCase}} : {{transaction.CardNumber | formatCardnumber }}</span>
                        <span class="expire"> ({{transaction.CardExpiry | date:'MM/yy'}})</span>
                        <span class="amount">{{transaction.AmountPayed | formatDKK}}</span>
                    </div>
                </div>
            </div>
 
    </div>
</div>