<div class="grid user">
    <div class="module">
        <div class="form_container clearfix">
            <div class="header">
                {{$parent.localeStrings.login_msg.header}}
            </div>
            <p>
                {{$parent.localeStrings.login_msg.body}}
            </p>
            <form name="loginForm" ng-submit="doLogin()">
                <div>
                    <!-- <div class="label">{{$parent.localeStrings.email}}</div> -->
                    <input class="field" placeholder="{{$parent.localeStrings.email}}" type="email" name="email" ng-model="emailM" autofocus="autofocus" required>
                    <span class="error" ng-show="loginForm.email.$error.required"></span>
                    <span class="error" ng-show="loginForm.email.$error.email"><span aria-hidden="true" class="icon-generic-warning"></span></span>
                    <span class="error" ng-show="loginForm.email.$valid"><span aria-hidden="true" class="icon-generic-checkmark"></span></span>
                </div>
                <div>
                    <!-- <div class="label">{{$parent.localeStrings.password}}</div> -->
                    <input placeholder="{{$parent.localeStrings.password}}" class="field" type="password" name="password" ng-model="passwordM" required>
                    <span class="error" ng-show="loginForm.password.$valid"><span aria-hidden="true" class="icon-generic-checkmark"></span></span>
                </div>
                <div class="button_container clearfix">
                    <!-- &nbsp;<input class="button" type="submit" id="submit" value="{{$parent.localeStrings.login}}" /> -->
                    <button class="button" type="submit" ng-model="button" ng-disabled="!loginForm.$valid" value="Submit">{{$parent.localeStrings.login}}</button>
                </div>
                <div>
                    <a href="#/Forgotpw">{{$parent.localeStrings.forgot_password_link}}</a>
                </div>
                
            </form>
        </div>
    </div>
</div>
    
