<div class="grid user">
    <div class="module">
        <div class="form_container clearfix">
            <div class="header">
                {{$parent.message.header}}
            </div>
            <p>
                {{$parent.message.body}}
            </p>
        </div>
    </div>
</div>