<div class="grid user">
    <div class="module">
        <div class="form_container clearfix">
            <div class="header">
                {{$parent.localeStrings.new_password_msg.header}}
            </div>
            <p>
                {{$parent.localeStrings.new_password_msg.body}}
            </p>

            <form name="newpwForm">
                <div class="label">{{$parent.localeStrings.password}}</div> 
                <input name="pw1" type="password" class="field" placeholder="{{$parent.localeStrings.password}}" ng-model="pw1" ng-minlength="6" required>
                <span class="error" ng-show="!newpwForm.pw1.$valid || comparePW()"><span aria-hidden="true" class="icon-generic-warning"></span></span>
                <span class="error" ng-show="newpwForm.pw1.$valid"><span aria-hidden="true" class="icon-generic-checkmark"></span></span>
                
                <div class="label">{{$parent.localeStrings.repeatpassword}}</div>
                <input name="pw2" type="password" class="field" placeholder="{{$parent.localeStrings.repeatpassword}}" ng-model="pw2" ng-minlength="6" required>
                <span class="error" ng-show="!newpwForm.pw2.$valid || comparePW()"><span aria-hidden="true" class="icon-generic-warning"></span></span>
                <span class="error" ng-show="newpwForm.pw2.$valid"><span aria-hidden="true" class="icon-generic-checkmark"></span></span>


                <button class="button" ng-disabled="!newpwForm.$valid || comparePW()" ng-click="savePW()" ng-model="button" value="Submit">{{$parent.localeStrings.save_user_data}}</button>
                </div>
            </form>
        </div>      
        
    </div>
</div>
    