<div class="grid user">
    <div class="module">
        <div class="form_container clearfix">
            <div class="header">
                {{$parent.localeStrings.new_user_msg.header}}
            </div>
            <p>
                {{$parent.localeStrings.new_user_msg.body}}
            </p>

            <form name="newuserForm">
                <div class="label">{{$parent.localeStrings.newuser_email}}</div>                    
                <input name="email" type="email" class="field" placeholder="{{$parent.localeStrings.email}}" ng-model="user.Email" required>
                <span class="error" ng-show="newuserForm.email.$error.required">*</span>
                <span class="error" ng-show="newuserForm.email.$error.email"><span aria-hidden="true" class="icon-generic-warning"></span></span>
                <span class="error" ng-show="newuserForm.email.$valid"><span aria-hidden="true" class="icon-generic-checkmark"></span></span>

                <div class="label">{{$parent.localeStrings.password}}</div> 
                <input name="pw1" type="password" class="field" placeholder="{{$parent.localeStrings.password}}" ng-model="pw1" ng-minlength="6" required>
                <span class="error" ng-show="!newuserForm.pw1.$valid || pwIsValid()"><span aria-hidden="true" class="icon-generic-warning"></span></span>
                <span class="error" ng-show="newuserForm.pw1.$valid"><span aria-hidden="true" class="icon-generic-checkmark"></span></span>
                
                <div class="label">{{$parent.localeStrings.repeatpassword}}</div>
                <input name="pw2" type="password" class="field" placeholder="{{$parent.localeStrings.repeatpassword}}" ng-model="pw2" ng-minlength="6" required>
                <span class="error" ng-show="!newuserForm.pw2.$valid || pwIsValid()"><span aria-hidden="true" class="icon-generic-warning"></span></span>
                <span class="error" ng-show="newuserForm.pw2.$valid"><span aria-hidden="true" class="icon-generic-checkmark"></span></span>
                
                <div class="label">{{$parent.localeStrings.firstname}}</div>                    
                <input name="firstname" type="text" class="field" placeholder="{{$parent.localeStrings.firstname}}" ng-model="user.Firstname" required>
                <span class="error" ng-show="newuserForm.firstname.$error.required">*</span>
                <span class="error" ng-show="newuserForm.firstname.$valid"><span aria-hidden="true" class="icon-generic-checkmark"></span></span>
                
                <div class="label">{{$parent.localeStrings.lastname}}</div>                 
                <input name="lastname" type="text" class="field" placeholder="{{$parent.localeStrings.lastname}}" ng-model="user.Lastname" required>
                <span class="error" ng-show="newuserForm.lastname.$error.required">*</span>
                <span class="error" ng-show="newuserForm.lastname.$valid"><span aria-hidden="true" class="icon-generic-checkmark"></span></span>

                <div class="label">{{$parent.localeStrings.gender}}</div>                   
                <div class="radio_container">
                    <input name="gender" type="radio" ng-model="user.Gender" value="MALE" required>  {{$parent.localeStrings.male}} 
                    <input name="gender" type="radio" ng-model="user.Gender" value="FEMALE" required> {{$parent.localeStrings.female}}
                </div>
                <span class="error" ng-show="newuserForm.gender.$error.required">*</span>
                <span class="error" ng-show="newuserForm.gender.$valid"><span aria-hidden="true" class="icon-generic-checkmark"></span></span>
                
                <div class="label">{{$parent.localeStrings.birthday}}</div>                 
                <input name="birthday" type="text" class="field" placeholder="{{$parent.localeStrings.birthday}}" ng-model="user.Birthdate" ng-minlength="10" required>
                <span class="error" ng-show="newuserForm.birthday.$error.required">*</span>
                <span class="error" ng-show="isBirthdateValid()"><span aria-hidden="true" class="icon-generic-warning"></span></span>
                <span class="error" ng-show="newuserForm.birthday.$valid"><span aria-hidden="true" class="icon-generic-checkmark"></span></span>

                <div class="label">{{$parent.localeStrings.address}}</div>                  
                <input type="text" class="field" ng-model="user.Address">

                <div class="label">{{$parent.localeStrings.address_ext}}</div>                  
                <input type="text" class="field" ng-model="user.Address_Ext">

                <div class="label">{{$parent.localeStrings.zipcode}}</div>                  
                <input type="text" class="field" ng-model="user.Zipcode">

                <div class="label">{{$parent.localeStrings.city}}</div>                 
                <input type="text" class="field" ng-model="user.City">

                <div class="label">{{$parent.localeStrings.phonenumber}}</div>                  
                <input type="text" class="field" ng-model="user.PhoneNumber">
            
                <!-- !pwIsValid() -->
                <button class="button" ng-disabled="!newuserForm.$valid || pwIsValid() || isBirthdateValid()" ng-click="saveNewUser()" ng-model="button" value="Submit">{{$parent.localeStrings.newuser}}</button>
                </div>
            </form>
        </div>      
        
    </div>
</div>
    