<div class="player">
    <div class="grid">
<!--         <div class="noaccess" ng-show="noaccess">
            <img src=" {{video.metadata.Thumbnail}}/wtv" alt="" height="450">
            <div class="container">
                <div class="message clearfix">
                    <h1 class="header">Denne video kræver abonnement</h1>
                    <p>Start dit abonnement nu og få adgang med det samme</p>
                    
                    <div class="button_container clearfix">
                        <a href="#/Shop" class="button">Klik her</a>
                    </div>
                </div>
            </div>
        </div> -->
        <div  class="module video player" ng-show="showWelcome">
            <div class="title">Welcome to GlobalConnect Web-TV</div>

            <div class="synopsis">GlobalConnect is Denmark's leading alternative provider of solutions for efficient and secure data networking and housing.</div>
             <div class="description" >We have entered into an a sponsorship agreement with the European-Herning ApS to support and help attract more major events which will create growth in Denmark. With our sponsorship we also support young people in an active sport.
GlobalConnect is Trophy Sponsor of Grand Prix Special Dressage and Main Sponsor of U25 competitions.
Below you will find videos of the best Danish riders within dressage and jumping, interviews and film from the European Championships 2013 in Herning, along with amazing visual footage to show the quality of 4K production.
             </div>
             <div class="promotion">
We'll be adding more exiting content and interviews as the championship progresses and will be broadcasting live transmissions during the event - so be sure to check in to get the latest updates.
             </div>
        </div>


        <div ng-hide="showWelcome">
            <div class="jw_outer" ng-hide="noaccess">
                <video height="270" id="jw-play" width="480" ></video>
            </div>
            
            <div class="quality_wrapper">
                <div class="quality_container">
                    <ul>
                        <li ng-repeat="stream in od_stream_types" ng-class="{'cur_profile': stream.profile_type==curStreamProfile, 'hideOnMobile': stream.hideOnMobile}" ng-click="changeStreamProfile(stream.profile_type)">{{stream.display_name}}<!-- :{{stream.profile_type}}:{{curStreamProfile}} --></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="module video player">
                <div class="season_info" ng-show="video.metadata.Season">{{$parent.localeStrings.season}} {{video.metadata.Season}} {{$parent.localeStrings.episode}} {{video.metadata.Episode}}</div>
                <!-- <a class="button" ng-show="$parent.curCat.parentName" ng-click="returnToLastCategory()"><span aria-hidden="true" class="icon icon-generic-reply-2"></span> Se dk4 live --> <!-- {{$parent.curCat.name}} --><!-- </a> -->
                <!--pre>{{$parent.curCat | json}}</pre-->

                <div class="title">{{video.metadata.Title}}&nbsp;</div>
                <div class="synopsis" ng-bind-html="video.metadata.Synopsis"></div>
                <!-- <div class="description" ng-bind-html-unsafe="'Hello there, how are you today? I\'m fine thank you.' | newLines"></div> -->
                <!-- <div class="description">{{video.metadata.Description | newlines }}</div> -->
                <div class="description" ng-bind-html="video.metadata.Description"></div>
            </div>
        </div>
    </div>
    <div class="grid no-margin">
        <nav class="top-nav" ng-controller="MenuCtrl">
            <span class="cat_description">
                {{$parent.localeStrings.chooseCategory}}
            </span>
            <div class="drop-down">
                <span class="cat_sel_button">
                    <span class="catTitle">{{selectItem.Description}}</span> <span aria-hidden="true" class="icon icon-generic-menu"></span>
                </span>
                <span>
                    <select name="select" ng-model="selectItem" id="" ng-model-change ng-change="updateMenu(this)"  ng-options="selectItem as selectItem.Description for selectItem in cats">
                        <!-- <option value="" >Vælg Programmer:</option> -->
                    </select>
                </span>
            </div>
        </nav>
    </div>
    <div class="grid list">
        <div ng-controller="VideoListCtrl" >
           <ul class="video-list">
                <li ng-repeat="videoInfo in videos.video | orderBy:'Episode'" ng-class-odd="'odd'" ng-class-even="'even'">
                    <a ng-href="#/{{$parent.curCat.id}}/Player/{{videoInfo.ID}}" class="thumb">
                        <div class="list-container">
                            <div class="title">{{videoInfo.Title}}</div>
                            <img style="vertical-align: bottom;" ng-src="{{videoInfo.Thumbnail}}/wtv">
                            <p class="synopsis" ng-bind-html="videoInfo.Synopsis"></p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

