<div class="grid user shop_container">
    <div class="module">
        <div class="form_container clearfix">
            <div class="header">
                Fejl opstået!
            </div>
            <p>
                Der opstod en fejl ved betaling. Prøv igen eller kontakt support.
            </p>
            <a href="#/Shop" class="link">Tilbage til abbonement</a>
             <!-- <div >{{shopitems}}</div> -->
        </div>
    </div>
</div>