<div class="grid user shop_container">
    <div class="module">
        <div class="form_container clearfix">
            <div class="header">
                Bestilling modtaget
            </div>
            <p>
                Du vil snarest modtage ordrebekræftelse via din e-mail adresse
            </p>
            <a href="#/Shop" class="link">Tilbage til abbonement</a>
             <!-- <div >{{shopitems}}</div> -->
        </div>
    </div>
</div>