<div class="grid user shop_container hide">
    <div class="module">
        <div class="form_container clearfix">
            <div class="header">
                 {{$parent.localeStrings.shop_msg.header}}
            </div>
            <p>
                 {{$parent.localeStrings.shop_msg.body}}
            </p>

            <!-- <div >{{shopitems}}</div> -->
            <div ng-repeat="item in shopitems.item" class="shop clearfix" >
                <div class="items">
                    <div class="title">
                        {{item.Name}}
                    </div>
                    <div class="description">
                        {{item.Description}}
                    </div>
                     <!--{{item.orderMessages.buttonStyle=='cancel'}}-->

                    <div class="">

                        <div class="description">
                            <!-- <div style="display: block">{{item.order.OrderStopDate | date:'dd-MM-yyyy HH:mm'}}</div> -->

                            <span ng-bind-html="item.orderMessages.msg"></span>
                            {{item.nextPayment | date:'dd-MM-yyyy'}}

                            <!-- {{ '2013-02-25T08:14:33+00:00' | date:'dd-MM-yyyy HH:mm' }} -->
                        </div>
                    
                        <span class="can-order" ng-hide="item.orderMessages.buttonStyle=='cancel'">
                            <div class="accept_text">
                                <div>Jeg accepterer GlobalConnect's <br> <a href="findes-ikke!" target="_blank">vilkår og betingelser</a></div>
                                <input type="checkbox" value="accepter" ng-checked="accept" ng-model="accept">
                                
                            </div>
                            <div class="price">
                                {{item.UnitPrice|formatDKK}}
                            </div>
                            <button class="button {{item.orderMessages.buttonStyle}}" ng:click="item.orderAction(item)" ng-disabled="!accept">
                                {{item.orderMessages.button}} <!-- {{item.Name}} -->
                            </button>
                        </span>
                        
                        <span class="can-order" ng-show="item.orderMessages.buttonStyle=='cancel'">
                            <button class="button {{item.orderMessages.buttonStyle}}" ng:click="item.orderAction(item)">
                                {{item.orderMessages.button}} <!-- {{item.Name}} -->
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <form id="dopay" action="" method="post">
                <!-- content from 'ShopCtrl' -> $scope.sendForm -->
            </form>
        </div>
    </div>
</div>