@font-face {
	font-family: 'generic';
	src:url('fonts/generic.eot');
	src:url('fonts/generic.eot?#iefix') format('embedded-opentype'),
		url('fonts/generic.woff') format('woff'),
		url('fonts/generic.ttf') format('truetype'),
		url('fonts/generic.svg#generic') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'generic';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-generic-"] {
*/
[class^="icon-generic-"]:before, [class*=" icon-generic-"]:before {
	font-family: 'generic';
	font-style: normal;
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-generic-warning:before {
	content: "\e001";
}
.icon-generic-info:before {
	content: "\e002";
}
.icon-generic-cross:before {
	content: "\e003";
}
.icon-generic-checkmark:before {
	content: "\e004";
}
.icon-generic-reply:before {
	content: "\e005";
}
.icon-generic-reply-2:before {
	content: "\e006";
}
.icon-generic-undo:before {
	content: "\e007";
}
.icon-generic-forward:before {
	content: "\e008";
}
.icon-generic-star:before {
	content: "\e009";
}
.icon-generic-text:before {
	content: "\e00a";
}
.icon-generic-text-2:before {
	content: "\e00b";
}
.icon-generic-arrow-down:before {
	content: "\e00c";
}
.icon-generic-list:before {
	content: "\e00d";
}
.icon-generic-play:before {
	content: "\e00e";
}
.icon-generic-pause:before {
	content: "\e00f";
}
.icon-generic-record:before {
	content: "\e010";
}
.icon-generic-stop:before {
	content: "\e011";
}
.icon-generic-next:before {
	content: "\e012";
}
.icon-generic-previous:before {
	content: "\e013";
}
.icon-generic-first:before {
	content: "\e014";
}
.icon-generic-last:before {
	content: "\e015";
}
.icon-generic-menu:before {
	content: "\e016";
}
.icon-generic-help:before {
	content: "\e000";
}
.icon-generic-chevron-left:before {
	content: "\f053";
}
.icon-generic-chevron-right:before {
	content: "\f054";
}
.icon-generic-circle:before {
	content: "\f111";
}
.icon-generic-circle-blank:before {
	content: "\f10c";
}
