<!DOCTYPE html>
<html ng-app="project">

    <head>
       <meta charset="utf-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link rel="apple-touch-icon" href="images/apple-touch/gc-icon-57-precomposed.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch/gc-icon-72-precomposed.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch/gc-icon-114-precomposed.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch/gc-icon-144-precomposed.png" />

    <!-- <meta name="apple-mobile-web-app-capable" content="yes" /> -->

       <!--title>{{localeStrings.siteName}}</title-->
        <title>{{siteTitle}}</title>
        <!--[if lte IE 8]>
          <script>
            document.createElement('ng-include');
            document.createElement('ng-pluralize');
            document.createElement('ng-view');
     
            // Optionally these for CSS
            document.createElement('ng:include');
            document.createElement('ng:pluralize');
            document.createElement('ng:view');
          </script>
        <![endif]-->
        
        <!--[if lt IE 9]>
        
        <![endif]-->

        <meta name="viewport" content="width=device-width">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
                
        <link rel="stylesheet" href="stylesheets/angular-ui.min.css">
        <link rel="stylesheet" href="stylesheets/main.css">
        <!--[if IE]>
            <link href="stylesheets/browser/ie.css" rel="stylesheet" type="text/css">
        <![endif]-->
        
    </head>

    <body class="ng-cloak">
    
        <div id="dialog" ng-show="dialog" >
            <div class="container">
                <h1 class="header"> <span class="error" ng-show="dialog.error_icon"><span aria-hidden="true" class="icon-generic-warning"></span></span> {{dialog.header}}</h1>
                <p class="body">{{dialog.body}}</p>
                <div class="button_container clearfix" >
                    <a class="button" ng-click="dialog=null">{{localeStrings.close}}</a>
                </div>
            </div>
        </div>
    
        <div class="page-wrapper">
            <div class="page_header grid">
                <div>
                    <div class="siteTitle">
                        <img src="images/gc-cube-animation-small.gif" alt="">
                        <a href="./"><span class="head">2013 European Championships</span><br>in jumping, dressage and para dressage</a>
                    </div>
                </div>
                 <ul class="user-top-bar">
                    <li ng-show="LastOnAir">
                        <a href="#/Live">LIVE TV<br> <span style="font-size: 12px">-Now broadcasting-</span></a>
                    </li>
                    <li ng-hide="LastOnAir">
                        <a href="#/Live">LIVE TV</a>
                    </li>
                </ul>

<!--                 <div class="col-2-3">
                    <div class="module">
                        <div class="siteTitle">
                            <img src="images/gc-cube-animation-small.gif" alt="">
                            <a href="./">European Championships in jumping, dressage and para dressage</a>
                        </div>
                        <div id="showmenu"><span aria-hidden="true" class="icon-generic-list"></span></div>
                    </div>
                </div>
                <div class="col-1-3">
                    <div class="module" style="text-align: right;">
                        
                        <ul class="user-top-bar">
                            <li ng-show="LastOnAir">
                                <a href="#/Live">LIVE TV<br> <span style="font-size: 12px">-Now broadcasting-</span></a>
                            </li>
                            <li ng-hide="LastOnAir">
                                <a href="#/Live">LIVE TV</a>
                            </li>    -->                         

                            <!-- <li ng-hide="auth.email">
                                <a class="" ng-hide="auth.email" href="#/Newuser">{{localeStrings.newuser}}</a>
                            </li>
                            <li ng-hide="auth.email">
                                <a class="" ng-hide="auth.email" href="#/Login">{{localeStrings.login}}</a>
                            </li>
                            <li ng-show="auth.email">
                                <a href="" id="hide_menu">{{auth.email}} <span aria-hidden="true" class="icon-generic-arrow-down"></span></a>
                                <ul class="submenu">
                                    <li> <a href="#/Account">{{localeStrings.settings_menu}}</a></li>
                                     <li> <a href="#/Shop">{{localeStrings.shop_menu}}</a></li>
                                    <li> <a href="#/History">{{localeStrings.history_menu}}</a></li>
                                    <li>
                                        <a class="" href="#/" ng-click="logout()"> {{localeStrings.logout}} </a>
                                    </li>
                                </ul>
                            </li> -->

                            <!-- <li ng-show="auth.email"> -->
                                <!-- <a class="" href="#/" ng-click="logout()"> {{localeStrings.logout}} </a> -->
                            <!-- </li> -->

                            <!-- <li ng-repeat="link in localeStrings.top_menu_links">
                                <a href="{{link.url}}" target="_blank">{{link.url_text}}</a>
                            </li> -->
<!--                         </ul>
                    </div>
                </div> -->
            </div>
            
                <div id="alert" ng-show="alertMessage">
                    <span aria-hidden="true" class="icon-generic-warning"></span>
                    <span ng-bind-html-unsafe="alertMessage">{{alertMessage}}</span>
                    <a class="close-icon" ng-click="alertMessage=''" >
                        <span aria-hidden="true" class="icon-generic-cross"></span>
                    </a>
                </div>
            <div ng-view>
                <!-- CONTENT FROM ANGULARJS GOES HERE -->
            </div>
<!--             <div class="grid" ng-show="devMessage">
                <div>{{devMessage}}</div>
                <div>{{curCat | json}}</div>
                <input type="text" ng-model="curCat.id" placeholder="Enter a category id">
                <div>{{testCat2}}</div>
            </div> -->
            <footer class="page_footer grid">
                <div class="module">
                    <a href="#/" ><div class="logo-img"></div></a>
                    Powered by <a href="http://globalconnect.dk" target="_blank" >GlobalConnect A/S</a>
                    
                </div>
            </footer>
        </div>
 

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <!--script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script-->
        
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-resource.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-sanitize.min.js"></script>
        
        <script src="locale/translation.js"></script>       
        <script src="locale/angular-locale_da-dk.js"></script>

        <script src="javascripts/project.js"></script>
        <script src="javascripts/controller.js"></script>

        <script type="text/javascript" language="javascript" src="javascripts/mediaplayer-5.10-licensed/jwplayer.js"></script>
        <script type="text/javascript" language="javascript" src="javascripts/CryptoJSv3/sha256.js"></script>
        <script type="text/javascript" language="javascript" src="javascripts/moment.min.js"></script>
        <script type="text/javascript" language="javascript" src="javascripts/moment-range.js"></script>
        <script type="text/javascript" language="javascript" src="javascripts/jquery.cookie.js"></script>
        <script type="text/javascript" language="javascript" src="javascripts/modernizr-2.6.2.min.js"></script>
        
        <script type="text/javascript" language="javascript" src="javascripts/jquery.confirm/jquery.confirm.js"></script>
        <script type="text/javascript" language="javascript" src="javascripts/jquery.slides.min.js"></script>
        
        
        <!--script type="text/javascript" language="javascript" src="javascripts/angular-ui.min.js"></script-->


    </body>

    <script type="text/javascript">
        if ($.browser.mozilla) {
            //console.log($.browser);
            $('head').append( $('<link rel="stylesheet" type="text/css" />').attr('href', 'stylesheets/browser/ff.css') );
        }
        if (navigator.userAgent.match(/(iPod|iPhone|iPad)/)) {
           $('head').append( $('<link rel="stylesheet" type="text/css" />').attr('href', 'stylesheets/browser/ios.css') );
        }

    </script>
</html>