@import url(//fonts.googleapis.com/css?family=Hammersmith+One);
@import url(//fonts.googleapis.com/css?family=Lato);
@import url(../fonts/dk4Icons/style.css);
@import url(../fonts/generic/style.css);
/* line 17, ../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 34, ../sass/modules/custom.scss */
p {
  color: #777; }

/* line 2, ../sass/modules/jquery.confirm.scss */
#dialog,
#confirmOverlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.3)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  z-index: 100000; }
  /* line 12, ../sass/modules/jquery.confirm.scss */
  #dialog .container,
  #dialog #confirmBox,
  #confirmOverlay .container,
  #confirmOverlay #confirmBox {
    width: 400px;
    position: fixed;
    left: 50%;
    top: 400px;
    margin: -100px 0 0 -200px;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #cfcfcf));
    background-image: -webkit-linear-gradient(#f5f5f5, #cfcfcf);
    background-image: -moz-linear-gradient(#f5f5f5, #cfcfcf);
    background-image: -o-linear-gradient(#f5f5f5, #cfcfcf);
    background-image: linear-gradient(#f5f5f5, #cfcfcf); }
    /* line 91, ../sass/modules/custom.scss */
    #dialog .container h1,
    #dialog #confirmBox h1,
    #confirmOverlay .container h1,
    #confirmOverlay #confirmBox h1 {
      background: #fff;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #cfcfcf));
      background-image: -webkit-linear-gradient(#f5f5f5, #cfcfcf);
      background-image: -moz-linear-gradient(#f5f5f5, #cfcfcf);
      background-image: -o-linear-gradient(#f5f5f5, #cfcfcf);
      background-image: linear-gradient(#f5f5f5, #cfcfcf);
      font-size: 150%;
      font-weight: bold;
      color: #888;
      text-shadow: 0px 1px 1px white; }
    /* line 100, ../sass/modules/custom.scss */
    #dialog .container h1,
    #dialog .container p,
    #dialog #confirmBox h1,
    #dialog #confirmBox p,
    #confirmOverlay .container h1,
    #confirmOverlay .container p,
    #confirmOverlay #confirmBox h1,
    #confirmOverlay #confirmBox p {
      padding: 20px;
      color: #444;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1; }
    /* line 106, ../sass/modules/custom.scss */
    #dialog .container .button,
    #dialog #confirmBox .button,
    #confirmOverlay .container .button,
    #confirmOverlay #confirmBox .button {
      position: relative;
      margin: 10px;
      border: none;
      background: #fff;
      font-size: 14px;
      font-weight: bolder;
      float: right;
      margin: 10px;
      padding: 4px 12px;
      color: #333; }

/* line 34, ../sass/modules/jquery.confirm.scss */
.button_container {
  text-align: center;
  padding-right: 10px; }

/* line 39, ../sass/modules/jquery.confirm.scss */
#confirmBox .button {
  position: relative;
  margin: 10px;
  border: none; }

/*#confirmBox .button:last-child{   margin-right:0;}

#confirmBox .button span{
    position:absolute;
    top:0;
    right:-5px;
    background:url('buttons.png') no-repeat;
    width:5px;
    height:33px
}
*/
/*GRID SYSTEM*/
/* line 2, ../sass/modules/grid.scss */
.no-overflow {
  overflow: hidden; }

/* line 5, ../sass/modules/grid.scss */
.grid {
  background: #f6f5f2;
  margin: 0 0 20px 0; }
  /* line 9, ../sass/modules/grid.scss */
  .grid:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both; }

/* line 17, ../sass/modules/grid.scss */
[class*='col-'] {
  float: left;
  padding-right: 20px; }
  /* line 20, ../sass/modules/grid.scss */
  .grid [class*='col-']:last-of-type {
    padding-right: 0; }

/* line 25, ../sass/modules/grid.scss */
.col-2-3 {
  width: 66.66%; }

/* line 28, ../sass/modules/grid.scss */
.col-1-3 {
  width: 33.33%; }

/* line 31, ../sass/modules/grid.scss */
.col-1-2 {
  width: 50%; }

/* line 34, ../sass/modules/grid.scss */
.col-1-4 {
  width: 25%; }

/* line 37, ../sass/modules/grid.scss */
.col-1-8 {
  width: 12.5%; }

/* line 41, ../sass/modules/grid.scss */
.module {
  padding: 20px; }

/* Opt-in outside padding */
/* line 46, ../sass/modules/grid.scss */
.grid-pad {
  padding: 20px 0 20px 20px; }
  /* line 48, ../sass/modules/grid.scss */
  .grid-pad [class*='col-']:last-of-type {
    padding-right: 20px; }

/* line 8, ../sass/modules/menus.scss */
.live .live_info {
  padding: 10px 20px; }
/* line 11, ../sass/modules/menus.scss */
.live .left-col {
  float: left; }
  /* line 13, ../sass/modules/menus.scss */
  .live .left-col .title {
    color: white;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6; }
/* line 18, ../sass/modules/menus.scss */
.live .right-col {
  margin-left: 110px; }
/* line 21, ../sass/modules/menus.scss */
.live .title {
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  color: #02b9ad;
  font-size: 27px;
  line-height: 32.4px;
  cursor: pointer;
  position: relative; }
  /* line 25, ../sass/modules/menus.scss */
  .live .title:hover .ico {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; }
  /* line 28, ../sass/modules/menus.scss */
  .live .title .ico {
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
    font-size: 14px;
    position: absolute;
    top: 0;
    margin-left: 10px; }
/* line 38, ../sass/modules/menus.scss */
.live .description {
  margin: 10px 0;
  display: none; }
  /* line 42, ../sass/modules/menus.scss */
  .live .description .right-col {
    white-space: pre-wrap; }
/* line 46, ../sass/modules/menus.scss */
.live .progress {
  padding: 16px 0 0 0;
  background-color: #ece9e3; }
  /* line 49, ../sass/modules/menus.scss */
  .live .progress .fill {
    height: 4px;
    background-color: white; }

/* line 56, ../sass/modules/menus.scss */
.top-nav {
  padding: 20px;
  margin-bottom: 0;
  padding-bottom: 0; }
  /* line 60, ../sass/modules/menus.scss */
  .top-nav .drop-down {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    position: relative;
    margin-left: 10px; }
    /* line 65, ../sass/modules/menus.scss */
    .top-nav .drop-down select {
      width: 390px;
      opacity: 0 !important;
      position: absolute;
      top: 0;
      left: 0;
      height: 34px;
      background: none; }
    /* line 74, ../sass/modules/menus.scss */
    .top-nav .drop-down .cat_sel_button {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      background-color: #e5e2da;
      -webkit-box-shadow: black 0 0 2px;
      -moz-box-shadow: black 0 0 2px;
      box-shadow: black 0 0 2px;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f6f5f2));
      background-image: -webkit-linear-gradient(#ffffff, #f6f5f2);
      background-image: -moz-linear-gradient(#ffffff, #f6f5f2);
      background-image: -o-linear-gradient(#ffffff, #f6f5f2);
      background-image: linear-gradient(#ffffff, #f6f5f2);
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      padding: 6px 6px 8px 10px;
      width: 380px;
      font-size: 16px;
      line-height: 22px; }
      /* line 84, ../sass/modules/menus.scss */
      .top-nav .drop-down .cat_sel_button .icon {
        float: right;
        margin-right: 0;
        line-height: 22px; }
      /* line 90, ../sass/modules/menus.scss */
      .top-nav .drop-down .cat_sel_button .catTitle {
        width: 340px;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        zoom: 1;
        *display: inline;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }

/* line 101, ../sass/modules/menus.scss */
.sorting {
  padding: 15px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  -webkit-box-shadow: #e1ded4 0 -1px 0 inset;
  -moz-box-shadow: #e1ded4 0 -1px 0 inset;
  box-shadow: #e1ded4 0 -1px 0 inset; }
  /* line 102, ../sass/modules/menus.scss */
  .sorting .icon {
    margin-right: 5px; }
  /* line 105, ../sass/modules/menus.scss */
  .sorting .breadcrumb {
    font-size: 15px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
    text-overflow: ellipsis; }

/* line 125, ../sass/modules/menus.scss */
.video-list.top-rotator {
  position: relative;
  width: 100%;
  height: 470px;
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  -webkit-box-shadow: #e1ded4 0 -1px 0 inset;
  -moz-box-shadow: #e1ded4 0 -1px 0 inset;
  box-shadow: #e1ded4 0 -1px 0 inset; }
  /* line 132, ../sass/modules/menus.scss */
  .video-list.top-rotator .slidesjs-container {
    border: 5px solid black; }
  /* line 135, ../sass/modules/menus.scss */
  .video-list.top-rotator .slidesjs-navigation {
    position: absolute;
    top: 200px;
    z-index: 10;
    font-size: 28px;
    opacity: 0.5;
    cursor: pointer; }
    /* line 146, ../sass/modules/menus.scss */
    .video-list.top-rotator .slidesjs-navigation.slidesjs-previous {
      left: 40px; }
    /* line 149, ../sass/modules/menus.scss */
    .video-list.top-rotator .slidesjs-navigation.slidesjs-next {
      right: 40px; }
  /* line 153, ../sass/modules/menus.scss */
  .video-list.top-rotator li {
    position: absolute;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    /* line 157, ../sass/modules/menus.scss */
    .video-list.top-rotator li .right {
      position: absolute;
      bottom: 8px;
      padding: 20px 40px;
      width: 760px;
      background-color: rgba(0, 0, 0, 0.8);
      left: -5px; }
    /* line 165, ../sass/modules/menus.scss */
    .video-list.top-rotator li a.thumb {
      padding: 0; }
  /* line 169, ../sass/modules/menus.scss */
  .video-list.top-rotator .icon-container .overlay {
    background-color: none;
    width: 50px;
    height: 50px; }
  /* line 175, ../sass/modules/menus.scss */
  .video-list.top-rotator:hover .icon-container .overlay {
    background-color: transparent; }

/* line 240, ../sass/modules/menus.scss */
.video-list .odd {
  margin-right: 50%; }
/* line 244, ../sass/modules/menus.scss */
.video-list .even {
  margin-left: -50%; }
/* line 250, ../sass/modules/menus.scss */
.video-list li {
  width: 50%;
  float: left;
  padding: 20px; }
  /* line 254, ../sass/modules/menus.scss */
  .video-list li a {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    zoom: 1;
    width: 100%;
    position: relative;
    padding: 0; }
  /* line 275, ../sass/modules/menus.scss */
  .video-list li img {
    width: 100%; }
  /* line 281, ../sass/modules/menus.scss */
  .video-list li .title {
    font-family: "Hammersmith One", sans-serif;
    font-weight: 400;
    text-align: center;
    position: relative;
    width: 100%;
    padding: 10px 0;
    color: white;
    left: -10px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-color: #02b9ad; }
    /* line 64, ../sass/modules/mixins.scss */
    .video-list li .title:before, .video-list li .title:after {
      content: "";
      position: absolute;
      bottom: -10px;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-style: inset; }
    /* line 73, ../sass/modules/mixins.scss */
    .video-list li .title:before {
      left: 0;
      border-width: 0 10px 10px 0;
      border-color: transparent #01544f transparent transparent; }
    /* line 78, ../sass/modules/mixins.scss */
    .video-list li .title:after {
      right: 0;
      border-width: 10px 10px 0 0;
      border-color: #02b9ad transparent transparent transparent; }
  /* line 291, ../sass/modules/menus.scss */
  .video-list li .synopsis {
    background-color: #FFF;
    padding: 10px; }

/* line 5, ../sass/modules/user.scss */
.user .form_container {
  width: 400px;
  position: relative;
  display: block;
  margin: 30px auto;
  padding: 40px 0 40px 40px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color: #ece9e3; }
/* line 14, ../sass/modules/user.scss */
.user .header {
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  color: #02b9ad;
  font-size: 27px;
  line-height: 32.4px;
  padding-right: 40px;
  margin-bottom: 10px; }
/* line 19, ../sass/modules/user.scss */
.user p {
  padding-right: 40px;
  margin-bottom: 20px; }
/* line 24, ../sass/modules/user.scss */
.user .label {
  margin-top: 10px;
  font-size: 15px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6; }
/* line 31, ../sass/modules/user.scss */
.user .radio_container {
  width: 320px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  margin: 5px 0;
  padding: 5px 10px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline; }
/* line 41, ../sass/modules/user.scss */
.user input.field {
  width: 320px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 0;
  content: 'hello';
  font-size: 17px;
  padding: 5px 10px;
  margin: 5px 0; }
  /* line 50, ../sass/modules/user.scss */
  .user input.field:invalid {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
/* line 55, ../sass/modules/user.scss */
.user a {
  font-size: 10px;
  text-align: right;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6; }
  /* line 60, ../sass/modules/user.scss */
  .user a:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; }
/* line 65, ../sass/modules/user.scss */
.user button.button {
  float: right;
  margin: 5px 40px 5px 0;
  font-size: 15px;
  background-color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 0; }
  /* line 72, ../sass/modules/user.scss */
  .user button.button:hover {
    cursor: pointer; }

/* line 1, ../sass/modules/player.scss */
.jw_outer {
  padding: 20px 20px 0 20px; }

/* line 5, ../sass/modules/player.scss */
.noaccess {
  position: relative; }
  /* line 7, ../sass/modules/player.scss */
  .noaccess img {
    position: relative;
    opacity: 0.5;
    width: 800px; }
  /* line 12, ../sass/modules/player.scss */
  .noaccess .container {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%; }
    /* line 18, ../sass/modules/player.scss */
    .noaccess .container .message {
      width: 400px;
      position: fixed;
      left: 50%;
      top: 400px;
      margin: -100px 0 0 -200px;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #cfcfcf));
      background-image: -webkit-linear-gradient(#f5f5f5, #cfcfcf);
      background-image: -moz-linear-gradient(#f5f5f5, #cfcfcf);
      background-image: -o-linear-gradient(#f5f5f5, #cfcfcf);
      background-image: linear-gradient(#f5f5f5, #cfcfcf);
      top: 250px;
      position: absolute; }
      /* line 91, ../sass/modules/custom.scss */
      .noaccess .container .message h1 {
        background: #fff;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #cfcfcf));
        background-image: -webkit-linear-gradient(#f5f5f5, #cfcfcf);
        background-image: -moz-linear-gradient(#f5f5f5, #cfcfcf);
        background-image: -o-linear-gradient(#f5f5f5, #cfcfcf);
        background-image: linear-gradient(#f5f5f5, #cfcfcf);
        font-size: 150%;
        font-weight: bold;
        color: #888;
        text-shadow: 0px 1px 1px white; }
      /* line 100, ../sass/modules/custom.scss */
      .noaccess .container .message h1,
      .noaccess .container .message p {
        padding: 20px;
        color: #444;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1; }
      /* line 106, ../sass/modules/custom.scss */
      .noaccess .container .message .button {
        position: relative;
        margin: 10px;
        border: none;
        background: #fff;
        font-size: 14px;
        font-weight: bolder;
        float: right;
        margin: 10px;
        padding: 4px 12px;
        color: #333; }

/* line 26, ../sass/modules/player.scss */
.quality_wrapper {
  padding: 0 20px; }
  /* line 28, ../sass/modules/player.scss */
  .quality_wrapper .quality_container {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    width: 100%;
    margin-bottom: 10px; }
    /* line 33, ../sass/modules/player.scss */
    .quality_wrapper .quality_container ul {
      float: right; }
      /* line 35, ../sass/modules/player.scss */
      .quality_wrapper .quality_container ul li {
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px;
        background-color: #fff;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        zoom: 1;
        *display: inline;
        padding: 2.5px 5px;
        margin: 10px 5px;
        cursor: pointer;
        font-size: 14px; }
      /* line 44, ../sass/modules/player.scss */
      .quality_wrapper .quality_container ul .cur_profile {
        background-color: #02b9ad;
        color: #fff; }

/* line 52, ../sass/modules/player.scss */
.live {
  padding-bottom: 20px; }

/* line 55, ../sass/modules/player.scss */
.video.player {
  padding-top: 0px; }
  /* line 57, ../sass/modules/player.scss */
  .video.player .description {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
    white-space: pre-wrap; }
  /* line 63, ../sass/modules/player.scss */
  .video.player .title {
    font-family: "Hammersmith One", sans-serif;
    font-weight: 400;
    color: #02b9ad;
    font-size: 27px;
    line-height: 32.4px;
    margin: 0 0 10px 0;
    color: white;
    position: relative;
    width: 100%;
    padding: 10px 0;
    left: -40px;
    padding-left: 40px;
    padding-right: 40px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-color: #02b9ad; }
    /* line 64, ../sass/modules/mixins.scss */
    .video.player .title:before, .video.player .title:after {
      content: "";
      position: absolute;
      bottom: -20px;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-style: inset; }
    /* line 73, ../sass/modules/mixins.scss */
    .video.player .title:before {
      left: 0;
      border-width: 0 20px 20px 0;
      border-color: transparent #01544f transparent transparent; }
    /* line 78, ../sass/modules/mixins.scss */
    .video.player .title:after {
      right: 0;
      border-width: 20px 20px 0 0;
      border-color: #02b9ad transparent transparent transparent; }
  /* line 74, ../sass/modules/player.scss */
  .video.player .synopsis {
    margin-bottom: 10px; }
  /* line 77, ../sass/modules/player.scss */
  .video.player .button {
    float: right;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px; }
    /* line 82, ../sass/modules/player.scss */
    .video.player .button:hover {
      font-size: inherit; }
    /* line 85, ../sass/modules/player.scss */
    .video.player .button .icon {
      font-size: inherit;
      margin: 0; }

/* line 92, ../sass/modules/player.scss */
.player .list-header {
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  color: #02b9ad;
  font-size: 27px;
  line-height: 32.4px;
  padding: 20px 20px 0 20px; }

/* line 3, ../sass/modules/shop.scss */
.shop_container .form_container {
  padding-bottom: 20px; }
  /* line 6, ../sass/modules/shop.scss */
  .shop_container .form_container .button {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00aa00), color-stop(100%, #007700));
    background-image: -webkit-linear-gradient(#00aa00, #007700);
    background-image: -moz-linear-gradient(#00aa00, #007700);
    background-image: -o-linear-gradient(#00aa00, #007700);
    background-image: linear-gradient(#00aa00, #007700);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    font-size: 14px;
    color: #fff;
    padding: 10px; }
    /* line 13, ../sass/modules/shop.scss */
    .shop_container .form_container .button.cancel {
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aa0000), color-stop(100%, #770000));
      background-image: -webkit-linear-gradient(#aa0000, #770000);
      background-image: -moz-linear-gradient(#aa0000, #770000);
      background-image: -o-linear-gradient(#aa0000, #770000);
      background-image: linear-gradient(#aa0000, #770000); }
    /* line 17, ../sass/modules/shop.scss */
    .shop_container .form_container .button.price {
      font-size: 18px; }

/* line 24, ../sass/modules/shop.scss */
.shop {
  padding-bottom: 0;
  margin-right: 40px;
  background-color: #f6f5f2;
  margin-bottom: 20px;
  padding: 20px; }
  /* line 26, ../sass/modules/shop.scss */
  .shop:last-child {
    margin-bottom: 0; }
  /* line 37, ../sass/modules/shop.scss */
  .shop .accept_text {
    position: relative;
    margin-bottom: 20px; }
    /* line 40, ../sass/modules/shop.scss */
    .shop .accept_text input {
      position: absolute;
      top: 0; }
    /* line 44, ../sass/modules/shop.scss */
    .shop .accept_text div {
      margin-left: 25px; }
  /* line 48, ../sass/modules/shop.scss */
  .shop a {
    font-size: inherit;
    opacity: 1;
    text-decoration: underline; }
  /* line 55, ../sass/modules/shop.scss */
  .shop .items .title {
    font-size: 24px;
    margin-bottom: 20px; }
  /* line 60, ../sass/modules/shop.scss */
  .shop .items .description {
    margin-bottom: 20px; }
  /* line 63, ../sass/modules/shop.scss */
  .shop .items .price {
    display: inline;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px; }
  /* line 69, ../sass/modules/shop.scss */
  .shop .items .button {
    float: right;
    display: inline;
    margin: 0; }
    /* line 73, ../sass/modules/shop.scss */
    .shop .items .button[disabled=disabled], .shop .items .button:disabled {
      opacity: 0.5; }

/* line 2, ../sass/modules/history.scss */
.listorders .line {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  border-bottom: 1px #dddddd solid; }
/* line 8, ../sass/modules/history.scss */
.listorders span {
  display: inline-block; }
/* line 11, ../sass/modules/history.scss */
.listorders .date {
  width: 100px; }
/* line 14, ../sass/modules/history.scss */
.listorders .name {
  width: 150px; }
/* line 17, ../sass/modules/history.scss */
.listorders .card {
  width: 250px; }
/* line 20, ../sass/modules/history.scss */
.listorders .expire {
  width: 100px; }
/* line 23, ../sass/modules/history.scss */
.listorders .amount {
  width: 100px; }

/*TEMP FIX FOR STRETCHED IMAGES*/
/* line 18, ../sass/modules/dev.scss */
#showmenu {
  display: none; }

/* line 22, ../sass/modules/dev.scss */
ul.dev {
  color: #b3b3b3;
  padding: 20px;
  font-size: 12px; }

/* line 3, ../sass/modules/parallax.scss */
#parallax-bg1,
#parallax-bg2 {
  z-index: 1;
  position: fixed;
  opacity: 0.3; }
  /* line 7, ../sass/modules/parallax.scss */
  #parallax-bg1 img,
  #parallax-bg2 img {
    width: 75%; }

/* line 12, ../sass/modules/parallax.scss */
#parallax-bg3 {
  opacity: 0.3;
  z-index: 3;
  position: fixed;
  top: 0;
  right: 0; }
  /* line 19, ../sass/modules/parallax.scss */
  #parallax-bg3 img {
    width: 75%;
    float: right; }

/* line 27, ../sass/main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 31, ../sass/main.scss */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

/* line 36, ../sass/main.scss */
.hide {
  display: none; }

/* line 40, ../sass/main.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* line 45, ../sass/main.scss */
.no-margin {
  margin: 0; }

/* line 48, ../sass/main.scss */
body {
  font-family: Helvetica, Arial, serif;
  -webkit-font-smoothing: antialiased;
  background: #ece9e3;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px; }

/* line 56, ../sass/main.scss */
p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px; }

/* line 60, ../sass/main.scss */
.logo-img {
  background-image: url("../images/gc-sp-logo.png");
  height: 51px;
  width: 312.5px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto; }

/* line 70, ../sass/main.scss */
.page_header {
  padding: 20px; }
  /* line 72, ../sass/main.scss */
  .page_header .siteTitle {
    font-size: 12px;
    text-align: center;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    float: left; }
    /* line 75, ../sass/main.scss */
    .page_header .siteTitle img {
      float: left;
      margin-right: 10px; }
    /* line 79, ../sass/main.scss */
    .page_header .siteTitle a {
      display: table-cell;
      padding-top: 8px; }
    /* line 83, ../sass/main.scss */
    .page_header .siteTitle .head {
      font-size: 18px;
      font-weight: bold;
      color: #105751; }

/* line 93, ../sass/main.scss */
.user-top-bar {
  position: relative;
  float: right; }
  /* line 96, ../sass/main.scss */
  .user-top-bar > li {
    float: left;
    position: relative;
    background-color: #f0efeb;
    border: 1px solid #e5e4e1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px; }
    /* line 102, ../sass/main.scss */
    .user-top-bar > li:hover {
      background-color: #222;
      color: white; }
    /* line 107, ../sass/main.scss */
    .user-top-bar > li > a {
      display: block;
      font-size: 15px;
      margin: 0;
      text-align: center;
      padding: 10px 10px;
      outline: none; }

/* line 174, ../sass/main.scss */
.promotion {
  margin-top: 10px;
  padding: 20px;
  border: 1px solid #dddddd; }

/* line 179, ../sass/main.scss */
.page_footer {
  margin-top: 20px; }
  /* line 181, ../sass/main.scss */
  .page_footer div {
    text-align: center;
    font-size: 15px;
    color: gray; }

/* line 188, ../sass/main.scss */
.icon {
  vertical-align: middle;
  font-size: 16px;
  margin-right: 10px; }

/* line 194, ../sass/main.scss */
a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  cursor: pointer; }
  /* line 198, ../sass/main.scss */
  a:focus, a:active {
    outline: none; }

/* line 218, ../sass/main.scss */
.page-wrapper {
  width: 800px;
  margin: 0 auto;
  position: relative;
  z-index: 10; }

/* line 226, ../sass/main.scss */
a.button {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #292929), color-stop(100%, #252525));
  background-image: -webkit-linear-gradient(#292929, #252525);
  background-image: -moz-linear-gradient(#292929, #252525);
  background-image: -o-linear-gradient(#292929, #252525);
  background-image: linear-gradient(#292929, #252525);
  background-color: #272727;
  border-top: 1px solid #363636;
  border-bottom: 1px solid #181818;
  padding: 5px 20px;
  font-size: 15px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border: 1px solid #e7e5dd;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 3px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 3px;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.6); }
  /* line 236, ../sass/main.scss */
  a.button:hover {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: white; }

/* line 241, ../sass/main.scss */
.text-button {
  background-color: #ece9e3;
  padding: 10px;
  margin: 0 5px;
  float: right;
  display: inline;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.6); }
  /* line 248, ../sass/main.scss */
  .text-button:hover {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: white; }

/* line 253, ../sass/main.scss */
#alert {
  background-color: orange;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffa500), color-stop(100%, #996300));
  background-image: -webkit-linear-gradient(#ffa500, #996300);
  background-image: -moz-linear-gradient(#ffa500, #996300);
  background-image: -o-linear-gradient(#ffa500, #996300);
  background-image: linear-gradient(#ffa500, #996300);
  padding: 10px 20px;
  font-size: 15px;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px; }
  /* line 259, ../sass/main.scss */
  #alert a {
    text-decoration: underline; }
  /* line 262, ../sass/main.scss */
  #alert .close-icon {
    text-decoration: none; }

@media only screen and (max-width: 800px) {
  /* line 6, ../sass/modules/responsive.scss */
  .hideOnMobile {
    display: none !important; }

  /* line 10, ../sass/modules/responsive.scss */
  .page-wrapper {
    width: 600px; } }
@media only screen and (max-width: 600px) {
  /* line 18, ../sass/modules/responsive.scss */
  .hideOnMobile {
    display: none !important; }

  /* line 24, ../sass/modules/responsive.scss */
  .page_header .siteTitle a {
    width: 230px; }
  /* line 27, ../sass/modules/responsive.scss */
  .page_header .siteTitle .head {
    font-size: 14px; }

  /* line 32, ../sass/modules/responsive.scss */
  .user-top-bar {
    display: block;
    float: left;
    width: 100%;
    margin-top: 10px; }
    /* line 37, ../sass/modules/responsive.scss */
    .user-top-bar li {
      display: block;
      width: 100%; }

  /* line 42, ../sass/modules/responsive.scss */
  .logo-img {
    background-image: url("../images/gc-sp-logo.png");
    height: 40.8px;
    width: 250px; }

  /* line 48, ../sass/modules/responsive.scss */
  .page-wrapper {
    width: 100%;
    overflow: hidden; }

  /* line 55, ../sass/modules/responsive.scss */
  .video-list li {
    width: 100%; }
    /* line 57, ../sass/modules/responsive.scss */
    .video-list li.odd {
      margin-right: 0; }
    /* line 60, ../sass/modules/responsive.scss */
    .video-list li.even {
      margin-left: 0; }

  /* line 65, ../sass/modules/responsive.scss */
  .video.player {
    padding: 20px;
    margin: 30px;
    padding-top: 0;
    margin-top: 0;
    background-color: white; }
    /* line 71, ../sass/modules/responsive.scss */
    .video.player .description {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      -ms-column-count: 1;
      -o-column-count: 1;
      column-count: 1; }

  /* line 78, ../sass/modules/responsive.scss */
  .top-nav .cat_description {
    display: block; }
  /* line 81, ../sass/modules/responsive.scss */
  .top-nav .drop-down {
    position: relative;
    width: 100%;
    margin: 10px 0 0 0; }
    /* line 86, ../sass/modules/responsive.scss */
    .top-nav .drop-down select {
      width: 210px;
      width: 100%; }
    /* line 91, ../sass/modules/responsive.scss */
    .top-nav .drop-down .cat_sel_button {
      width: 200px;
      width: 100%; }
      /* line 95, ../sass/modules/responsive.scss */
      .top-nav .drop-down .cat_sel_button .catTitle {
        width: 90%; } }
