/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 7, ../../sass/browser/ie.scss */
body {
  background: dark-grey; }

/* line 11, ../../sass/browser/ie.scss */
.top-nav .drop-down select {
  opacity: 1 !important; }

/* line 15, ../../sass/browser/ie.scss */
.top-nav .drop-down .cat_sel_button {
  opacity: 0 !important; }
