// CUSTOM POS
$pad: 20px;

// MODULAR SCALE
$base-size: 9px 44px;
$ratio: golden();


// TOP HEADER
$header-logo: '../images/gc-sp-logo.png';


// CUSTOM COLORS
$mainBackgroundColor: #f6f5f2; //#2f2f2f; //url('../images/patterns/dark_wall/dark_wall_@2X.png');
$mainColor: #02b9ad; // #84bcde;

$white: white;
$black: black;

$listItemColor: #FFF;
$listGrad1: #292929;
$listGrad2: #252525;
$listGradSolid: #272727;
$alertBgnd: orange;

@mixin menu-background () { 
    @include background-image(linear-gradient($listGrad1, $listGrad2)); 
    background-color: $listGradSolid;
    border-top: 1px solid lighten($listGrad1, 5%);
    border-bottom: 1px solid darken($listGrad2, 5%);
}

// GENERAL
p {
//    @include opacity(0.6);
    color: #777;
}

// FONTS
  // HEADLINE
@import url(//fonts.googleapis.com/css?family=Hammersmith+One);
@mixin headline-font () {
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
}
  //BODY
@import url(//fonts.googleapis.com/css?family=Lato);
@mixin bodytext-font () {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
  // MENU
@mixin menu-font () {
    @include headline-font;
}

@mixin headline-typo () {
    @include headline-font;
    color: $mainColor;
    font-size: ms(5);
    line-height: ms(5) * 1.2;
}

@mixin bodytext-topo () {
    @include bodytext-font;
    font-size: ms(2);
    line-height: ms(2) * 1.2; 
}

@mixin menu-typo ($opa) {
    @include bodytext-font;
    font-size: ms(1);
    color: rgba($listItemColor, $opa);
}

@mixin bottom-divider () {
    border-bottom: 1px solid rgba(white, 0.07);
    @include box-shadow(darken($mainBackgroundColor, 10%) 0 -1px 0 inset);
}

@mixin dialogbox () {
    width:400px;
    position:fixed;
    left:50%;
    //top:50%;
    top: 400px;
    margin:-100px 0 0 -200px;
    // border: 1px solid rgba(33, 33, 33, 0.6);
    @include background-image(linear-gradient(#f5f5f5, #cfcfcf));

    h1 {
        background:#fff;
        @include background-image(linear-gradient(#f5f5f5, #cfcfcf));
        font-size: 150%;
        font-weight: bold;
        color: #888;
        @include text-shadow( 0px 1px 1px #fff);
    }
    h1,
    p {
        padding: $pad;
        color:#444;
        @include opacity(1);
    }

    .button{
        position:relative;
        margin: 10px;    
        border:none;
        background: #fff;
        font-size: 14px;
        font-weight: bolder;
        float: right;
        margin: 10px;
        padding: 4px 12px;
        color: #333;
    }
}
