//body:before{
//  content: "DEVLOPMENT MODE (modules/dev.scss)";
//  color: red;
//  font-weight: bolder;
//  background-color: white;
//  width: 200px;
//  line-height: 30px;
//  padding: 5px;
//  position: fixed;
//}

/*TEMP FIX FOR STRETCHED IMAGES*/
// .icon-container img {
//  width: 150px;
//  height: 92px;
// }

#showmenu {
    display: none;
}

ul.dev {
    color: darken(white, 30%);
    padding: 20px;
    font-size: 12px;

}

