.listorders {
    .line {
        background-color: #fff;
        color: #000;
        padding: $pad/2 $pad;
        border-bottom: 1px #ddd solid;
    }
    span {
        display: inline-block;
    }
    .date {
        width: 100px;
    }
    .name {
        width: 150px;
    }
    .card {
        width: 250px;
    }
    .expire {
        width: 100px;
    }
    .amount {
        width: 100px;
    }
}