@import "compass/css3/transform-legacy";


// $animation-duration: 0.2;

.live {
    //@include box-shadow(black 0 0 10px);
    .live_info {
        padding: $pad/2 $pad;
    }
    .left-col {
        float: left;
        .title {
            color: white;
            @include opacity(0.6);
        }
    }
    .right-col{
        margin-left: 110px
    }
    .title{
        @include headline-typo();
        cursor: pointer;
        position: relative;
        &:hover .ico{
            @include opacity(1);
        }
        .ico {
            color: #fff;
            @include opacity(0.6);
            font-size: 14px;
            position: absolute;
            top: 0;
            margin-left: 10px;
            //vertical-align: text-top;
        }
    }
    .description {
        margin: $pad/2 0;
        display: none;
        
        .right-col {
            white-space: pre-wrap;
        }
    }
    .progress {
        padding: 16px 0 0 0; //8px 0;
        background-color: darken($mainBackgroundColor, 5%);
        .fill {
            height: 4px;
            background-color: lighten($mainBackgroundColor, 20%);
        }
    }
}

.top-nav {
    padding: $pad;
    margin-bottom: 0;
    padding-bottom: 0;
    .drop-down {
        @include inline-block();
        position: relative;
        margin-left: $pad/2;

        select {
            width: 390px;
            opacity: 0 !important;
            position: absolute;
            top: 0;
            left: 0;
            height: 34px;
            background: none;
        }
        .cat_sel_button {
            @include inline-block;
            background-color: darken($mainBackgroundColor, 8%);
            @include box-shadow(black 0 0 2px);
            @include background-image(linear-gradient(lighten($mainBackgroundColor, 8%), darken($mainBackgroundColor, 0%)));
            @include border-radius(4px);
            padding: 6px 6px 8px 10px;
            width: 380px;
            font-size: 16px;
            line-height: 22px;
            .icon {
                float: right;
                margin-right: 0;
                line-height: 22px;
            }

            .catTitle {
                width: 340px;
                @include inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

.sorting {
    .icon{
        margin-right: $pad/4;
    }
    .breadcrumb{
        font-size: ms(2);
        @include opacity(0.6);
        // position: relative;
        // float: left;
        // margin-top: $pad/2;
        // margin-left: $pad;
        // width: 290px;
        // overflow: hidden;
        // white-space: nowrap;
        text-overflow: ellipsis;
    }
    // height: 60px;
    padding: 15px $pad;
    // position: relative;
    // width: 100%;
//    float: left;
    @include bottom-divider();
}

.video-list.top-rotator {
    position: relative;
    width: 100%;
    height: 470px;
    padding: $pad;
    @include bottom-divider();

    .slidesjs-container {
        border: 5px solid #000;
    }
    .slidesjs-navigation{
        position: absolute;
        top: 200px;
        z-index: 10;
        font-size: 28px;
        opacity: 0.5;
        cursor: pointer;
        // background-color: black;
        // padding: 10px;
        // width: 50px;
        // @include border-radius(30px);
        &.slidesjs-previous {
            left: $pad*2;
        }
        &.slidesjs-next {
            right: $pad*2;
        }
    }
    li {
        position: absolute;
        border: none;
        @include box-shadow(none);
        .right{
            position: absolute;
            bottom: 8px;
            padding: $pad $pad*2;
            width: 760px;
            background-color: rgba(0,0,0,0.8);
            left: -5px;
        }
        a.thumb {
            padding: 0;
        }
    }
    .icon-container .overlay {
        // background-image: url('../images/play-button-overlay.png');
        background-color: none;
        width: 50px;
        height: 50px;
    }
    &:hover .icon-container .overlay {
        background-color: transparent;
    }

    // Animations
    // li {
    //     .right {
    //         @include transition-property(scale);
    //         @include transition-duration(1s);
    //         @include transition-timing-function(ease-out);
    //         @include translate(0, 100px);
    //     }
    //     &.anim .right {
    //         @include translate(0, -40px);
    //     }
    // }

    // li {
    //     .right .title{
    //         @include transition-property(scale);
    //         @include transition-duration(6s);
    //         @include transition-timing-function(linear);
    //         @include translate(-20px, 0); 
    //         -moz-transition:-moz-transform 6s;
    //     }
    //     &.anim .right .title{
    //         @include translate(20px, 0); 
    //     }
        
    // }
    // li {
    //     .right p{
    //         font-weight: bold;
            
    //         @include transition-property(scale);
    //         @include transition-duration(6s);
    //         @include transition-timing-function(linear);
    //         @include translate(20px, 0); 
    //         -moz-transition:-moz-transform 6s;
    //     }
    //     &.anim .right p{
    //         @include translate(-20px, 0); 
    //     }
        
    // }

    // li{
    //     .icon-container img {
    //         width: 760px;
    //         @include transition-property(scale);
    //         @include transition-duration(6s);
    //         @include transition-timing-function(linear);
    //         //@include scale(1.2);
    //         -moz-transition:-moz-transform 6s;
    //     }
    //     &.anim .icon-container img {
    //         @include scale(1.05);
    //     }
    // }


}


.video-list {
    .odd {
        //background-color: red;
        margin-right: 50%;
    }
    .even {
        //background-color: blue;
        margin-left: -50%;
    }

    //padding: $pad/2;
    li {
        width: 50%;
        float: left;
        padding: 20px;
        a {
            @include inline-block;
            zoom: 1;
            width: 100%;
            position: relative;
            padding: 0;
            &:hover {
                // img{
                //     @include scale(1);
                // }
                // .description {
                //     @include translate(500px, 0); 
                // }
                // .description-long {
                //     @include translate(0, 0); 
                // }
            }
        }
        .list-container {
            //overflow: hidden;
        }
        img {
            width: 100%;
            // //@include scale(1.4);
            // @include transition-duration($animation-duration+'s');

        }
        .title {
            @include headline-font();
            text-align: center;

            position: relative;
            width: 100%;
            padding: $pad/2 0;
            color: white;
            @include simple_ribbon(10px, 0, $mainColor);
        }
        .synopsis{
            background-color: #FFF;
            padding: $pad/2;
        }
    }
}
