

// Code from: http://davidensinger.com/2013/03/using-rems-with-sass/
// Examples:
// @include rem(font-size, 14px);
// @include rem(margin, 0 auto 1);
// @include rem(padding-bottom, 3%);

@mixin rem($property, $values) {
  // Create a couple of empty lists as output buffers.
  $font-size: $base-font-size;
  $px-values: ();
  $rem-values: ();

  // Loop through the $values list
  @each $value in $values {
    // For each property value, if it's in rem or px, derive both rem and
    // px values for it and add those to the end of the appropriate buffer.
    // Ensure all pixel values are rounded to the nearest pixel.
    @if $value == 0 or $value == 0px {
      // 0 -- use it without a unit
      $px-values: join($px-values, 0);
      $rem-values: join($rem-values, 0);
    } @else if type-of($value) == number and not unitless($value) and (unit($value) == px) {
      // px value given - calculate rem value from font-size
      $new-rem-value: $value / $font-size;
      $px-values: join($px-values, round($value));
      $rem-values: join($rem-values, #{$new-rem-value}rem);
    } @else if type-of($value) == number and not unitless($value) and (unit($value) == "%") {
      // % value given - don't add px or rem
      $px-values: join($px-values, #{$value});
      $rem-values: join($rem-values, #{$value});
    } @else if $value == auto {
      // auto - don't add px or rem
      $px-values: join($px-values, auto);
      $rem-values: join($rem-values, auto);
    } @else {
      // unitless value - use those directly as rem and calculate the px-fallback
      $px-values: join($px-values, round($value * $font-size));
      $rem-values: join($rem-values, #{$value}rem);
    }
  }

  // output the converted rules
  #{$property}: $px-values;
  #{$property}: $rem-values;
}





// ROOS :)

@mixin simple_ribbon ($width, $padding, $bgColor) {
    left: (-($width+$padding));
    padding-left: $width+$padding;
    padding-right: $width+$padding;
    @include box-sizing(content-box);
    background-color: $bgColor;
    //@include background-image(linear-gradient($bgColor, darken($bgColor, 10%)));

    &:before,
    &:after{
        content: "";
        position: absolute;
        bottom: (-($width));
        width: 0px;
        height: 0px;
        border-style: solid;
        border-style: inset;
    }
    &:before {
        left: 0;
        border-width: 0 ($width) ($width) 0;
        border-color: transparent darken($bgColor, 20%) transparent transparent;
    }
    &:after {
        right: 0;
        border-width: $width $width 0 0;
        border-color: darken($bgColor, 0) transparent transparent transparent;
    }
}