#parallax-bg1, 
#parallax-bg2
{
    z-index: 1;
    position: fixed;
    opacity: 0.3;
    img {
        width: 75%;
    }
}

#parallax-bg3 {
    opacity: 0.3;
    z-index: 3;
    position: fixed;
    //left: 50%; /* align left edge with center of viewport */
    top: 0;
    right: 0;
    img {
        width: 75%;
        float: right;
    }
}