.jw_outer{
    padding: $pad $pad 0 $pad;
}

.noaccess {
    position: relative;
    img {
        position: relative;
        opacity: 0.5;
        width: 800px;
    }
    .container{
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;

        .message{
            @include dialogbox;
            top: 250px;
            position: absolute;
        }
    }
}

.quality_wrapper {
    padding: 0 $pad;
    .quality_container {
        //background-color: #000;
        @include inline-block;
        width: 100%;
        margin-bottom: $pad/2;
        ul {
            float: right;
            li {
                @include border-radius(2px);
                background-color: #fff;
                @include inline-block;
                padding: $pad/8 $pad/4;
                margin: $pad/2 $pad/4;
                cursor: pointer;
                font-size: 14px;
            }
            .cur_profile {
                background-color: #02b9ad;
                color: #fff;
            }
        }
    }
}

.live {
    padding-bottom: $pad;
}
.video.player {
    padding-top: 0px;
    .description{
        @include column-count(2);
        //@include word-break(break-all);
        @include opacity(0.6);
        white-space: pre-wrap;
    }
    .title {
        @include headline-typo();
        margin: 0  0 $pad/2 0;
        color: white;

        position: relative;
        width: 100%;
        padding: $pad/2 0;
        @include simple_ribbon(20px, $pad, $mainColor);

    }
    .synopsis {
        margin-bottom: $pad/2;
    }
    .button{
        float: right;
        font-size: ms(2);
        padding-left: $pad/2;
        padding-right: $pad/2;
        &:hover {
            font-size: inherit;
        }
        .icon{
            font-size: inherit;
            margin: 0;
        }
    }
}

.player .list-header {
    @include headline-typo();
    padding: $pad $pad 0 $pad;
}

// .player .video-list {
//     a {
//         padding: 6px 6px 0 10px;
//     }
//     li {
//         width: 370px;
//         height: 120px;
//         overflow: hidden;
//     }
//     .icon-container {
//         margin: 0 $pad/2 0 0;
//         img {
//             width: 140px;
//         }
//     }
// }