//@media only screen and (max-device-width: 480px) {
//@media only screen and (max-width: 480px) {

// Tablets!
@media only screen and (max-width: 800px) {
    .hideOnMobile {
        display: none !important;
    }

    .page-wrapper {
        width: 600px;
    }
}

// Phones!
@media only screen and (max-width: 600px) {

    .hideOnMobile {
        display: none !important;
    }

    .page_header{
        .siteTitle {
            a {
                width: 230px;
            }
            .head {
                font-size: 14px;
            }
        }
    }    
    .user-top-bar {
        display: block;
        float: left;
        width: 100%;
        margin-top: $pad/2;
        li {
            display: block;
            width: 100%;
        }
    }
    .logo-img{
        background-image: url($header-logo);
        height: image-height($header-logo)/2.5;
        width: image-width($header-logo)/2.5;
    }

    .page-wrapper {
        width: 100%;
        overflow: hidden;
    }

    .video-list {

        li {
            width: 100%;
            &.odd {
                margin-right: 0;
            }
            &.even {
                margin-left: 0;
            }
        }
    }
    .video.player {
        padding: $pad;
        margin: $pad+($pad/2);
        padding-top: 0;
        margin-top: 0;
        background-color: white;
        .description{
            @include column-count(1);
        }
    }


    .top-nav {
        .cat_description {
            display: block;
        }
        .drop-down {
            position: relative;
            width: 100%;
            margin: 10px 0 0 0;

            select {
                width: 210px;
                width: 100%;
            }

            .cat_sel_button {
                width: 200px;
                width: 100%;

                .catTitle {
                    width: 90%;
                }
            }
        }
    }

}

