$orderButtonColor: #0a0;
$orderButtonCancelColor: #a00;
.shop_container .form_container {
    padding-bottom: $pad;

    .button {
        @include background-image(linear-gradient($orderButtonColor, darken($orderButtonColor, 10%)));
        @include border-radius(6px);
        font-size: 14px;
        color: #fff;
        padding: 10px;

        &.cancel { 
            @include background-image(linear-gradient($orderButtonCancelColor, darken($orderButtonCancelColor, 10%)));
        }
        
        &.price {
            font-size: 18px;
        }
    }
}


.shop {
    padding-bottom: 0;
    &:last-child {
        margin-bottom: 0;
    }
    &:hover{

    }
    margin-right: $pad*2;
    background-color: $mainBackgroundColor;
    margin-bottom: $pad;
    padding: $pad;
    
    .accept_text {
        position: relative;
        margin-bottom: $pad;
        input {
            position: absolute;
            top: 0;
        }
        div {
            margin-left: 25px;
        }
    }
    a {
        font-size: inherit;
        opacity: 1;
        text-decoration: underline;
    }

    .items {
        .title {
            font-size: 24px;
            margin-bottom: $pad;

        }
        .description {
            margin-bottom: $pad;
        }
        .price {
            display: inline;
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
        }
        .button {
            float: right;
            display: inline;
            margin: 0;
            &[disabled=disabled], &:disabled {
                opacity: 0.5;
            }
        }
    }

}
