$form_width: 400px;

.user{

    .form_container {
        width: $form_width;
        position: relative;
        display: block;
        margin: $pad*1.5 auto;
        padding: $pad*2 0 $pad*2 $pad*2;
        @include border-radius(10px);
        background-color: darken($mainBackgroundColor, 5%);
    }
    .header {
        @include headline-typo();
        padding-right: $pad*2;
        margin-bottom: $pad/2;
    }
    p {
        padding-right: $pad*2;
        margin-bottom: $pad;
    }

    .label {
        margin-top: $pad/2;
        font-size: ms(2);
//      opacity: 0.6;
        @include opacity(0.6);
    }

    .radio_container {
        width: $form_width - $pad*4;
        @include border-radius(4px);
        background-color: #fff;
        color: #000;
        margin: $pad/4 0;
        padding: $pad/4 $pad/2;
//      display: inline-block;
        @include inline-block;
    }
    input.field {
        width: $form_width - $pad*4;
        @include border-radius(4px);
        border: 0;
        content: 'hello';
        font-size: ms(3);
        padding: $pad/4 $pad/2;
        margin: $pad/4 0;

        &:invalid {
            @include box-shadow(none);
        }
    }

    a {
        font-size: ms(1);
        text-align: right;
//      opacity: 0.6;
        @include opacity(0.6);
        &:hover {
//          opacity: 1;
            @include opacity(1);
        }
    }
    button.button{
        float: right;
        margin: $pad/4 $pad*2 $pad/4 0;
        font-size: ms(2);
        background-color: white;
        @include border-radius(4px);
        border: 0;
        &:hover {
            cursor: pointer;
        }
    }

}
