@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.svg#icomoon') format('svg'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'icomoon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

.icon-Sport:before,
.icon-dribbble:before {
	content: "\e000";
}
.icon-Underholdning:before,
.icon-happy:before {
	content: "\e001";
}
.icon-Politik:before,
.icon-user:before {
	content: "\e002";
}
.icon-Fakta:before,
.icon-stats-up:before {
	content: "\e003";
}
.icon-IT:before,
.icon-mouse:before {
	content: "\e004";
}
.icon-Helse:before,
.icon-accessibility:before {
	content: "\e005";
}
.icon-Rejser:before,
.icon-briefcase:before {
	content: "\e006";
}
.icon-Historie:before,
.icon-busy:before {
	content: "\e007";
}
.icon-Universitetet:before,
.icon-book:before {
	content: "\e008";
}
.icon-Undervisning:before {
	content: "\e00a";
}
.icon-EU:before {
	content: "\e00b";
}
.icon-Kultur:before {
	content: "\e00c";
}
.icon-Natur:before {
	content: "\e009";
}
